.rita--header{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  border-bottom: #E5E4E2 1.5PX solid;
}

.rita-logo{
  padding: 1.8vh 8vh;
  font-size: 40px;
  font-weight: bold;
  color: #36454F;
  font-family: 'Concert one', cursive;
  width: 20%;
}

.rita--header--nav{
  width: 80%;
  padding: 0.2vh 2vh;
  font-size: 12px;
}

.rita--top--bar{
  width: auto;
  text-align: right;
  padding-bottom: 15px;
  padding-top: 3px;
  padding-right: 30px;
}

.rita-menu{
  padding-top: 2vh;
  padding: 1.vh 1vh;
  color: #36454F;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  width: 70%;
  text-align: center;
}

.rita--bottom--bar{
display: flex;
}

.rita--search-bar{
  padding: 0 3vh;
}
.rita-search-box{
  width: 170px;
  height: 33px;
  border:none;
  background-color: #EFEFEF;
  padding: 2px 10px;
}

a{
  text-decoration: none;
  padding: 0 10px;
}

.rita--search-btn{
  width: 33px;
  height: 33px;
  border: none;
  background-color: #EFEFEF;

}
btn{
  padding: 15px 25px,;
  border:none;
  margin: 10px 0px;
}

.btn-primry{
  background-color: #282828;
  color: white;
}