<div class="rita--header">
  <div class="rita-logo">
    <img src="/Assets/image/logo.png" alt="RitaVera">
  </div>
  <div class="rita--header--nav">
    <div class="rita--top--bar">
      <a *ngFor="let topItems of topMenuItems" href="#">{{topItems}}</a>
      
    </div>
    <div class="rita--bottom--bar">
      <div class="rita-menu">
        <a *ngFor="let item of mainMenuItems" href="#">{{item}}</a>
      </div>
      <div class="rita--search-bar">
        <input type="text" class="rita-search-box" placeholder="Search">
        <button class="rita--search-btn">
          <i class="fa fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>